{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="columns is-multiline">

<div class="column is-6 is-offset-3">
{% csrf_token %}

<dbx-audio-file-uploader
init-upload-url={% url 'api:dbx_upload_audio' %}
>

<template slot="label-select-file">
{% trans 'label_select_audio_file' %}
</template>

<template slot="label-submit">
{% trans 'label_submit_file' %}
</template>

</dbx-audio-file-uploader>

</div>

<div class="column is-6 is-offset-3">
<dbx-user-files
files-url="{% url 'api:dbx_user_files' %}"
shared-link-url="{% url 'api:dbx_shared_link' %}"
>
</dbx-user-files>
</div>


</div>

{% endblock content %}